<div class = "jumbotron jumbotron-fluid m-1">
    
    <form [formGroup]="contactForm" (ngSubmit)="onSubmit()" novalidate>
        
        <label style="font-size: xx-large; margin: 10px; font-weight: bolder; font-family: Arial, Helvetica, sans-serif;">Contact-us</label>
        
        <div class="form-group m-1">
            <label for="exampleInputfirstname">First Name</label>
            <input type="text" class="form-control" formControlName="firstname" placeholder="First Name" autofocus>
            <small class="form-text text-danger"
                *ngIf="contactForm.controls.firstname.touched && contactForm.controls.firstname.errors?.required">
                Please enter first name.!
            </small>
        </div>

        <div class="form-group m-1">
            <label for="exampleInputlastname">Last Name</label>
            <input type="text" class="form-control" formControlName="lastname" placeholder="Last Name">
            <small class="form-text text-danger"
                *ngIf="contactForm.controls.lastname.touched && contactForm.controls.lastname.errors?.required">
                Please enter last name.!
            </small>
        </div>

        <div class="form-group m-1">
            <label for="exampleInputphonenumber">Phone Number</label>
            <input type="number" class="form-control" formControlName="phonenumber" placeholder="Phone Number">
            <small class="form-text text-danger"
                *ngIf="contactForm.controls.phonenumber.touched && contactForm.controls.phonenumber.errors?.required">
                Please enter phone number.!
            </small>
        </div>

        <div class="form-group m-1">
            <label for="exampleInputemail">Email</label>
            <input type="email" class="form-control" formControlName="email" placeholder="Email">
            <small class="form-text text-danger"
                *ngIf="contactForm.controls.email.touched && contactForm.controls.email.errors?.required">
                Please enter email.!
            </small>
            <small class="form-text text-danger"
                *ngIf="contactForm.controls.email.touched && contactForm.controls.email.errors?.email">
                Enter the valid email .!
            </small>
        </div>

        <div class="form-group m-1">
            <label for="exampleInputmessage">Message</label>
            <textarea type="text" class="form-control" formControlName="message" placeholder="Message"></textarea>
            <small class="form-text text-danger"
                *ngIf="contactForm.controls.message.touched && contactForm.controls.message.errors?.required">
                Please enter message.!
            </small>

        </div>

        <button type="submit" class="btn btn-primary m-2 btn-lg text-dark">Submit &nbsp; <i class="fa fa-save"></i></button>

    </form>
</div>
