<div class="header">
  <div style="float:left"><img src="https://i.pinimg.com/736x/63/dc/95/63dc95d6ac2d13ed84b2824774fefd81.jpg" class="rounded-circle m-1" width="60px" height="60px" alt="SB"></div>
  <div class="h1 bg-primary mt-2 border border-light rounded" style=" height: 70px ; padding: 10px; font-family: 'Times New Roman', Times, serif; font-weight:bolder">SWASTH BHARAT</div>
</div>
  
   <nav class = "navbar navbar-expand-md bg-dark navbar-dark text-white">
      <a class="navbar-brand" href="#">Fitness Tracker</a>

      <button class = "navbar-toggler" type = "button" data-toggle = "collapse" data-target = "#navy">
         <span class = "navbar-toggler-icon"></span>
      </button>
      <div class = "collapse navbar-collapse" id="navy">

         <ul class = "navbar-nav ml-5 ">

            <li class = "nav-item ml-3">
               <a class = "nav-link " href="landing-page"> <i class="fa fa-home"></i> &nbsp; Home  </a>
            </li>
                
            <li class = "nav-item ml-3">
               <a class = "nav-link" href="place-fitness-trainer-appointment"> <i class="fa fa-edit"></i> &nbsp; Place Appointment </a>
            </li>
                 
            <li class = "nav-item ml-3">
               <a class = "nav-link" href="view-appointment"> <i class="fa fa-eye"></i> &nbsp; View Appointment </a>
            </li>
               
            <li class = "nav-item ml-3">
               <a class = "nav-link" href="view-appointment"> <i class="fa fa-search"></i> &nbsp; Search </a>
            </li>
                 
            <li class = "nav-item ml-3">
               <a class = "nav-link" href="contact-us"> <i class="fa fa-comment"></i> &nbsp; Contact Us </a>
            </li>
                 
         </ul>

      </div>
   </nav>
  
 
<div>

   <div class ="sidebar border border-dark rounded" style="float:left; width:250px; margin-top:10px;margin-left:5px">
      <a class= "bg-warning" href="landing-page"> <i class="fa fa-home"></i> &nbsp; Home</a>
      <a class= "bg-light"   href="place-fitness-trainer-appointment"> <i class="fa fa-edit"></i> &nbsp; Place Appointment</a> 
      <a class= "bg-primary" href="view-appointment"> <i class="fa fa-eye"></i> &nbsp; View Appointment</a>  
      <a class= "bg-light"   href= "view-appointment" > <i class="fa fa-search"></i> &nbsp; Search</a> 
      <a class= "bg-success" href="contact-us"> <i class="fa fa-comment"></i> &nbsp; Contact Us</a> 
   </div>

   <div class="border rounded" style="background-color:green ;color: black; float:left; width:80%;margin-top:10px;margin-left:10px;padding:5px;">
      <router-outlet></router-outlet>
   </div>
   
</div>